/* static/home.css */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #5f6368;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

bu {
    display: inline-block;
    text-decoration: none;
    background-color: #1a73e8;
    color: white;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 24px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a:hover {
    background-color: #185abc;
    transform: scale(1.05);
}
.register-link, .register-link:visited {
    color: #1a73e8;
    text-decoration: none;
    
    text-align: center;
    display: block;
  }
  
  .register-link:hover {
    color: #185abc;
  }
/* Responsive adjustments */
@media (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
}