<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <title>Home</title>

</head>
<body>  
    <h1>Holliston EMR</h1>
    <h1>Home</h1>
    <a href="{{ url_for('login_register.login') }}">Provider Login</a><br>
    <a href="{{ url_for('login_register.register') }}">Provider Registration</a><br>
    <a href="{{ url_for('wc_patient_portal.register') }}">Work Comp Patient Registration</a><br>
    

   
    


 </body>
 <footer>
    <div class="footer-1">
        &copy; 202 Holliston Stock Research | Created by David Gutierrez
        
    </div>
    <div class="nav-links-2">
        <a href="https://github.com/DavidG626?tab=repositories" target="_blank">Visit My Portfolio</a>
    </div>
</footer>
 
</html>