<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <title>Home</title>

</head>
<body>  
    <h1>Holliston EMR</h1>
    <h1>Home</h1>
    <a href="{{ url_for('login_register.login') }}">Provider Login</a><br>
    <a href="{{ url_for('login_register.register') }}">Provider Registration</a><br>
    <a href="{{ url_for('wc_patient_portal.register') }}">Work Comp Patient Registration</a><br>
    

   
    


 </body><br><br><br><br><br><br><br>

 
</html>