<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <title>Home</title>

</head>
<body>  
    <h1>Holliston EMR</h1>
    <h1>Home</h1>
    <a href="{{ url_for('login_register.login') }}" class="button" >Provider Login</a><br>
    <a href="{{ url_for('login_register.register') }}" class="button">Provider Registration</a><br>
    

   
    <br><br><br><br><br><br><br>

    <footer>
        <div >
            &copy; 2025 Holliston Electronic Medical Records | Created by David Gutierrez
            
        </div>
        <div >
            <a href="https://github.com/DavidG626/Flask-Project" class="register-link" target="_blank">Visit My Portfolio</a>
        </div>
    </footer>

 </body>
 
</html>